@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
}

section#telefone {
    position: absolute;
    height: 627px;
    width: 311px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url('../imagens/frame-iphone.png') no-repeat;
    background-size: contain;

}

iframe#tela {
    position: relative;
    top: 79px;
    left: 22px;

    width: 269px;
    height: 471px;
}